
  <footer class="p-3 p-sm-5">
    <div class="bg-black d-flex flex-column align-items-start py-5 px-3 px-sm-5 gap-3 rounded-5">
      <div class="mb-3">
        <h1 class="text-white">Ready to Get Our New Stuff?</h1>
      </div>
      <div class="d-flex flex-wrap-reverse w-100 align-items-center">
        <div class="d-flex gap-3 w-50">
          <input type="text" class="form-control" placeholder="Your Email Id">
          <button class="btn px-3">Submit</button>
        </div>
        <div class="text-white py-3">
          <h4>Stuffs for Homes and Needs</h4>
          <h5>We'll listen to your needs, identify the best approach, and then</h5>
          <h5>bring something for you, that make your happiness double.</h5>
        </div>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 p-5">
      <div class="col">
        <div class="d-flex gap-5">
          <div>
            <h5>Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
            </ul>
          </div>
          <div>
            <h5>Section</h5>
            <ul class="nav flex-column">
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="d-flex flex-column pt-5">
          <div class="">
            <h5>Social Media</h5>
            <ul class="list-unstyled d-flex">
              <li class="ms-3"><a class="link-dark" href="#"><img src="assets/facebook.png"></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><img src="assets/instagram.png"></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><img src="assets/linkedin.png"></a></li>
              <li class="ms-3"><a class="link-dark" href="#"><img src="assets/twitter.png"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center pt-3 border-top">
      <p>© 2021 Company, Inc. All rights reserved.</p>
    </div>
  </footer>
