<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand text-warning" [routerLink]="''"><img src="../../../assets/logo.png" alt="" width="50px" height="50px" >Bigkart</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" [routerLink]="''">Home</a>
        </li>
        <li class="nav-item ms-3" >
          <a [routerLink]="'Cart'" >
            <i class="bi bi-cart4" style="font-size: 25px;"></i>
          </a>
          <ng-container *ngIf="cartListLength>0">
          <span class="badge text-bg-danger">{{cartListLength}}</span></ng-container>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" (input)="searchFun($event)">
      </form>
      <div class="ms-2">
        <a [routerLink]="'WishList'" class="text-decoration-none"><strong>Wishlist</strong> <img src="../../../assets/wishlist.png" width ="40px" height="35px" alt=""></a>
        <ng-container *ngIf="wishlistLength>0">
        <span class="badge text-bg-danger">{{wishlistLength}}</span></ng-container>
      </div>
    </div>
  </div>
</nav>
