

.navbar-toggler
{
  border: 2px solid white;
  color: #ffffff;
}

a.navbar-brand{
  font-family: "Chakra Petch", "Kode Mono", sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #000 !important;
}
