<div class="row p-0 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-2 min-vh-100 position-relative overflow-hidden">
  <div
    class="col p-4 p-sm-3 p-md-3 p-lg-5 d-flex position-relative flex-column align-items-center justify-content-center mainLogin">
    <div class="p-4  bg-light-subtle border border-1 rounded-5 d-flex flex-column gap-2 ">
      <h1>Create New Account<span style="color:blue; font-size: 100px; line-height: 30px;">.</span></h1>
      <form class="p-sm-5 d-flex w-100 flex-column align-items-center position-relative">
        <div class="w-100 d-flex gap-3 p-2">
          <div class="w-50">
            <label class="form-label h4" for="">First Name</label>
            <input type="email" class="form-control ">
          </div>
          <div class="w-50">
          <label class="form-label h4" for="">Last Name</label>
          <input type="email" class="form-control">
        </div>
        </div>
        <div class="w-100 p-2">
          <label class="form-label h4" for="">Email Id</label>
          <input type="email" class="form-control ">
        </div>
        <div class="w-100 p-2">
          <label class="form-label h4" for="">Password</label>
          <input type="email" class="form-control">
        </div>
        <div>
          <button class="btn btn-primary">Login</button>
        </div>
      </form>
      <h5>Already have an account? <a [routerLink]="'/login'"> Login</a></h5>
    </div>
  </div>
  <div class="col p-0 d-none d-md-block">
    <div class="vh-100 overflow-hidden position-relative mnt">
      <img src="assets/mountain.jpg" alt="mountain">
    </div>
  </div>
</div>
