<div>
  <app-carousel></app-carousel>
</div>


<div class="card-top container-fluid pt-5 mt-3">
  <div class="d-flex">
    <div class="d-flex justify-content-start gap-3 flex-wrap align-items-center p-5">
      <div class="d-flex flex-column align-self-start justify-content-center">
        <h5>Category</h5>
        <div>
          <h6 (click)="AllCategory()" class="text-nowrap">All Categories</h6>
          <ng-container *ngFor="let category of productCategories">
          <h6 (click)="filter(category)" class="text-nowrap">{{category}}</h6>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="album py-5 bg-light">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <ng-container *ngFor="let i of productList | filterProducts:filterText">
            <div class="col">
              <div class="card shadow-sm">
                <div class="p-3">
                  <img src="{{i.thumbnail}}" alt="" width="100%" height="200px">
                </div>
                <div class="card-body">
                  <div class="d-flex justify-content-between align-items-center">
                    <h5 class="prod_heading">{{i.title | titlecase}}</h5>
                    <i class="fa fa-heart" [ngStyle]="checkWishList(i.id)? {color:'red'}: {color:''}"
                      (click)="addOrRemoveWishList(i.id)"></i>
                  </div>
                  <p class="card-text">{{i.description}}</p>
                  <div>
                    <span class="heading">User Rating :</span>
                    <span class="fa fa-star" [ngClass]="i.rating>0?'checked':''"></span>
                    <span class="fa fa-star" [ngClass]="i.rating>1?'checked':''"></span>
                    <span class="fa fa-star" [ngClass]="i.rating>2?'checked':''"></span>
                    <span class="fa fa-star" [ngClass]="i.rating>3?'checked':''"></span>
                    <span class="fa fa-star" [ngClass]="i.rating>4.5?'checked':''"></span>
                    <p>{{i.rating}} average</p>
                  </div>
                  <div>
                    <h5 class="fw-bold">{{i.price | currency:'USD'}}</h5>
                  </div>
                  <div class="pt-2 d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-primary" (click)="BuyProduct(i)">Buy</button>
                      <button type="button" class="btn btn-sm btn-outline-success"
                        (click)="ShowProduct(i)">Details</button>
                    </div>
                    <small class="text-muted">Stock: {{i.stock}}</small>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center p-5">
    <ul class="pagination">
      <li class="page-item" [ngClass]="skipValue==0?'disabled':''">
        <button class="page-link" (click)="SkipValueUpdate()">Previous</button>
      </li>
      <ng-container *ngFor="let e of paginationArray; let i = index;">
        <li class="page-item"><a class="page-link" [ngClass]="skipValue == e? 'active':''"
            (click)="openpage(e)">{{i+1}}</a></li>
      </ng-container>
      <li class="page-item " [ngClass]="skipValue==actualLength-10 || actualLength < 10 ?'disabled':''">
        <button class="page-link" (click)="limitValueUpdate()">Next</button>
      </li>
    </ul>
  </div>
