.prod_heading
{
  max-width: 300px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 2em;
  font-weight: bolder;
}
.heading {
  font-size: 20px;
  margin-right: 25px;
}

.fa {
  font-size: 20px;
}

.checked {
  color: orange;
}

.card-text
{
  text-overflow: ellipsis;
  white-space: nowrap;
  // line-height: 1.7em;
  // max-height: 3.4em;
  // max-width: 300px;
  overflow: hidden;
}

.item img
{
  max-width:100px;
  height: 100px;
  max-height: 100px;
}
